<div class="form">
  <%= form_for(@story) do |f| %>
    <% if @story.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:
        </h2>
        <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="filed">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :priority %><br />
      <%= f.text_field :priority %>
    </div>
    <div class="field">
      <%= f.label :frequency %><br />
      <%= f.text_field :frequency %>
    </div>
    <div class="actions">
      <%= f.submit %> 
    </div>
  <% end %>
</div>