<h1 class="title">New User Story</h1>
<hr />
<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:
      </h2>
      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="home-row">
    <div class="row">
      <div class="span3">
        <h3>As a...</h3>
        <hr />
        <p><%= f.text_field :name %></p>
      </div>
      <div class="span3">
        <h3>I want to...</h3>
        <hr />
        <p><%= f.text_field :description %></p>
      </div>
      <div class="span3">
        <div class="control-group">
          <h3>Assign a Priority</h3>
          <hr />
          <div class="controls">
            <p><%= f.text_field :priority, class: "control-label" %></p>
            <!-- <select id="select01">
              <option>Low</option>
              <option>Medium</option>
              <option>High</option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="span3">
        <h3>Assign a Frequency</h3>
        <hr />
        <p><%= f.text_field :frequency %></p>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>

<!-- <%= render "form" %> -->

<%= link_to 'Back', stories_path, class: "btn btn-primary" %>

