<%= form_for @backlog do |f| %>
  <div class="row">
    <div class="span4">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="span4">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
    <%= f.label :description %>
    <%= f.text_area :description %>
    </div>
  </div>

  <hr/>
  <%= f.submit "Submit", :class => 'btn btn-primary' %>
<% end %>
  