<h1 class="title">List of Backlogs</h1>
<hr />


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>View</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
    <% @backlogs.each do |backlog| %>
    <tr>
      <td><%= backlog.name %></td>
      <td><%= backlog.description %></td>
      <td><%= backlog.status %></td>
      <td><%= link_to 'View', backlog, class: "btn btn-primary btn-mini" %></td>
      <td><%= link_to 'Destroy', backlog, class: "btn btn-danger btn-mini", confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<% @backlogs.each do |backlog| %>
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">

      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <%= backlog.name %> 
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
      <div class="accordion-inner">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Status</th>
              <th>View</th>
              <th>Edit</th>
              <th>Destroy</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td><%= backlog.description %></td>
              <td><%= backlog.status %></td>
              <td><%= link_to 'Show', backlog, class: "btn btn-primary btn-mini" %></td>
              <td><%= link_to 'Edit', edit_backlog_path(backlog), class: "btn btn-primary btn-mini"  %></td>
              <td><%= link_to 'Destroy', backlog, class: "btn btn-danger btn-mini",  confirm: 'Are you sure?', method: :delete %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
      
<p><%= link_to 'New Backlog', new_backlog_path, class: "btn btn-primary" %></p>
      
