<h1 class="title">List of Backlogs</h1>
<br>
<hr />
<br>
<% @backlogs.each do |backlog| %>
<div class="accordion" >
  <div class="accordion-group">
    <div class="accordion-heading">

      <a class="accordion-toggle" data-toggle="collapse" href="#backlog<%= backlog.id %>">
        <%= backlog.name %> 
      </a>
    </div>
    <div id= "backlog<%= backlog.id %>" class="accordion-body collapse" style="height: 0px; ">
      <div class="accordion-inner">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Status</th>
              <th>View</th>
              <th>Edit</th>
              <th>Destroy</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
              <td><%= backlog.description %></td>
              <td><%= backlog.status %></td>
              <td><%= link_to 'Show', backlog, class: "btn btn-primary btn-mini" %></td>
              <td><%= link_to 'Edit', edit_backlog_path(backlog), class: "btn btn-primary btn-mini"  %></td>
              <td><%= link_to 'Destroy', backlog, class: "btn btn-danger btn-mini",  confirm: 'Are you sure?', method: :delete %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
<br>      
<p><%= link_to 'New Backlog', new_backlog_path, class: "btn btn-primary" %></p>
      
