<!-- edit or change error message in the locales file -->
<!-- initializers folder, devise to change validations -->

<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#"><p class="alert"><%= alert %></p></a>
</div>
<!-- <p class="notice"><%= notice %></p> -->




<!-- <div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div> -->